#Conteiner_main {
  width: 100%;
  height: 100vh;
}
#img_Home {
  width: 100%;
  border-radius: 14px;
}

#Conteiner_div {
  width: 93%;
  text-align: center;
  display: flex;
  justify-content: center;
  /* overflow-x: scroll; */
  /* margin-left: 2vh; */
  gap: 6%;
  margin: auto;
}
.tag_a {
  text-decoration: none;
  color: black;
}
#conteiner_ul {
  list-style: none;
  display: flex;
  gap: 1vh;
  margin: auto;
  margin-top: 3vh;
  margin-bottom: 4vh;
  flex-direction: column;
  text-decoration: none;
}
#imagem_logo {
  /* margin: 0 auto; */
  width: 69%;
  display: block;
  margin: auto;
}
.li_Header {
  text-align: center;
  background-color: rgb(184 144 109 / 36%);
  border-radius: 8px;
  width: 80%;
  margin: auto;
  height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: currentcolor;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}
.div_tag {
  /* position: absolute; */
  background-color: rgb(184 144 109 / 43%);
  /* background-color: #f0b36b; */
  display: flex;
  width: 14vh;
  /* border: solid 1px; */
  margin-top: 5vh;
  margin-bottom: 2vh;
  font-family: "Poppins", sans-serif;
  height: 14vh;
  border-radius: 26%;
  text-align: center;
  align-items: center;
}
#h3_div {
  font-size: 3vh;
  font-family: "Poppins";
  font-weight: 500;
  text-align: center;
}
#div_conteiner_title {
  background-color: #98c3d0a1;
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
  flex-wrap: wrap;
  height: 24vh;
  border-radius: 19px;
  margin-top: 6vh;
}
.paragrafo_h3 {
  font-size: 3vh;
  text-align: center;
  margin: 0;
  /* display: flex; */
  width: 90%;
}
.h3_proposito {
  margin-top: 2vh;
  font-size: 3vh;
  font-family: "Poppins";
  font-weight: 500;
  text-align: center;
  margin-bottom: 1vh;
}
#div_proposito_conteiner {
  background-color: bisque;
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
  flex-wrap: wrap;
  height: 50vh;
  margin-top: 6vh;
  border-radius: 19px;
  font-size: 25px;
  text-align: center;
}
.p_interno {
  font-size: 1.7vh;
  /* width: 116px; */
  /* height: 78px; */
  width: 90%;
  margin: auto;
}
.p_h3_proposito {
  font-size: 3vh;
  text-align: center;
  margin: 0;
  /* display: flex; */
  width: 90%;
}
.h3_cuidados {
  margin-top: 5vh;
  /* margin-bottom: 2vh; */
  font-size: 3vh;
  font-family: "Poppins";
  font-weight: 500;
  text-align: center;
  margin-bottom: 3vh;
}
.paragrafo_cuidados {
  font-size: 3vh;
  text-align: center;
  margin: 0;
  /* display: flex; */
}
.div_cuidados {
  background-color: #e23c3c52;
  padding-top: 1px;
  margin-top: 7vh;
  border-radius: 18px;
}
.div_cadastro {
  display: flex;
  width: 80%;
  margin: auto;
  gap: 27px;
  margin-top: 6px;
}
.div_conteiner_modal {
  animation: go-back 1.1s;
  top: 5%;
  left: 11.5%;
  position: absolute;
  border: solid 2px #fdc786;
  border-radius: 29px;
  width: 76%;
  height: 71%;
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: antiquewhite;
  gap: 2vh;
  z-index: 1;
}
.img_voltar {
  width: 14%;
  position: absolute;
  left: 3%;
  top: 89%;
  border-radius: 40px;
}

.imagemLogo_modal {
  /* display: flex; */
  margin-top: -136px;
  border-radius: 21px;
}
.titulo_modal {
  margin-top: 17%;
  font-family: "Poppins";
  font-weight: 500;
  margin-bottom: -7%;
  width: 68%;
}
.input_nome_modal {
  width: 66%;
  height: 7%;
  border: solid #dbdacc;
  background: aliceblue;
  border-radius: 12px;
  margin-top: 23px;
}
.input_senha_modal {
  width: 66%;
  height: 7%;
  border: solid #dbdacc;
  background: aliceblue;
  border-radius: 12px;
}
.botao_modal {
  width: 31%;
  height: 6%;
  border-radius: 18px;
  background: #d2691e70;
  color: white;
  border: none;
}
.inputEmail {
  width: 66%;
  height: 7%;
  border: solid #dbdacc;
  background: aliceblue;
  border-radius: 12px;
}
.RepetirSenha {
  width: 66%;
  height: 7%;
  border: solid #dbdacc;
  background: aliceblue;
  border-radius: 12px;
}
.inputTelefone {
  width: 66%;
  height: 7%;
  border: solid #dbdacc;
  background: aliceblue;
  border-radius: 12px;
}
.selectEstado {
  width: 66%;
  height: 7%;
  border: solid #dbdacc;
  background: aliceblue;
}
.end {
  border: solid #dbdacc;
  width: 100%;
  height: 48%;
  background: #d88a1ea3;
  margin-top: 6vh;
}
@keyframes go-back {
  0% {
    transform: translatey(-200px);
    opacity: 0.4;
  }
  100% {
    transform: translatey(0px);
  }
}
